/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/*----GENERAL----*/

.container{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

header, footer{
    color: #ffffff;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

footer ul > li, footer ul > li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #ffffff;
}



.col-1-2{
    width: calc(100% / 2) ;
}

.col-1-3{
    width: calc(100% / 3) ;
}

.col-1-4{
    width: calc(100% / 4) ;
}

.col-1-6{
    width: calc(100% / 6) ;
}

.col-4-6{
    width: calc((100% / 6) * 4) ;
}

/*---------------*/

/* HEADER */

header{
    background-color: #FF6900;
    padding: 1em;
}

header ul > li{
    padding: 0.3em;

}

.shop-nav.my-row ul > li{
    flex-grow: 1;
}

.shop-nav.my-row, .user-nav.my-row{
    justify-content: center;
    align-items: center;
}

ul.my-row{
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .my-row.col-1-2{
    justify-content: center;
    align-items: center;
}



.logo-container >img{
   width: 30%;
   display: block;
   margin: auto;
}

/* HEADER */

/* MAIN */

main .my-row{
    justify-content: space-between;
    align-content:space-between ;
    
}

.card{
    padding: 5px;
}


.img-container{
    position: relative;
}

.tag-container{
    position: absolute;
    left: 0;
    bottom: 5%;
}

.red-tag{
    background-color: red;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em;
}

.green-tag{
    background-color: green;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em;
}

.clip{
    background-color: #fff;
    position: absolute;
    top: 5%;
    right: 0;
    padding: 0.5em;
    font-size: 1.2em;
}

.red-text{
    color: red;
}

.strike{
    text-decoration: line-through;
}



/* MAIN */



/*-------DEBUG---------*/

.debug{

    background-color: aqua;
    border: 3px dashed red;
}

.debug header{
    height: 150px;
    background-color: brown;
}

.debug header .my-row > *{
    border: 5px solid black;
    padding: 5px;
}

.debug main{
    height: 300px;
    background-color: green;
}

.debug main .my-row *{
    border: 5px solid black;
    padding: 5px;
}

.debug footer{
    height: 150px;
    background-color: red;
}

.debug footer .my-row > *{
    border: 5px dashed black;
    padding: 5px;
}